---
import BaseHead from "../components/BaseHead.astro";
import { Gallery } from "../components/v0/gallery.tsx";
import { Header } from "../components/v0/header.tsx";
import { Footer } from "../components/v0/footer.tsx";

const title = "soratabi.nekohack.me";
const description = "The perfect product for your aviation blog.";
const permalink = "https://soratabi.nekohack.me/photos";

const photos = await Astro.glob("../assets/aviation/*.JPG").then((files) => {
	return files.map((file) => file.default);
});
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />

    <style>
      body {
        /* rgba(167, 123, 243, 0.1) */
        background: #000;
        color: #fff;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

      .cover-image-wrapper {
        padding: 0;
        margin: 0;
        background: none;
        border-radius: 0;
        cursor: pointer;
      }

      .cover-image {
        padding: 0;
        margin: 0;
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
      }

      .preview-image {
        padding: 0;
        margin: 0;
        background: none;
        border-radius: 0;
        cursor: pointer;
      }

      .preview-image img {
        padding: 0;
        margin: 0;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <Header />
    <Gallery {photos} client:load />
    <Footer />
  </body>
</html>
