---
import { SEO } from 'astro-seo'

export type Props = {
  title: string
  description: string
  permalink?: string
  image?: string
}

const {
  title = 'soratabi.nekohack.me',
  description,
  permalink = 'https://soratabi.nekohack.me/',
  image = 'https://soratabi.nekohack.me/assets/top.jpg',
} = Astro.props
---

<meta
  name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
>

<title>{title}</title>

<SEO
  charset="UTF-8"
  title={title}
  description={description}
  openGraph={{
    basic: {
      type: "A type.",
      title: title,
      url: permalink,
      ...image && { image: image },
    }
  }}
  twitter={{
    creator: "@jiyuujinlab"
  }}
  extend={{
    link: [
      { rel: "icon", href: "/favicon.ico" },
      // {
      //   rel: "stylesheet",
      //   href: "https://cdn.jsdelivr.net/npm/@nekohack/normalize.css/dist/index.css",
      // },
    ],
    meta: [
      { name: "twitter:title", content: title },
      { name: "twitter:description", content: description },
      { name: "twitter:image", content: image },
    ],
  }}
/>
