---

---

<div class="grid-layout-wrapper">
  <slot />
</div>

<style>
  .grid-layout-wrapper {
    display: grid;
    place-items: center;
    max-width: 768px;
    margin: 0 auto 30px;
    width: 100%;
    background: #000;
  }

  @media(max-width: 767px) {
    .grid-layout-wrapper {
      padding: 0 12px;
    }
  }
</style>
