---

---

<div class="article-content">
  <slot />
</div>

<style>
  .article-content {
    width: 60%;
    margin: 0 auto;
    display: grid;
    background: #000;
  }

  @media(max-width: 767px) {
    .article-content {
      width: 98%;
    }
  }
</style>
