---
import { Image } from 'astro:assets'

const { imagePath = '', title = '' } = Astro.props
---

<div class="item">
  {imagePath && (
    <Image width="400" height="400" loading="lazy" src={imagePath} alt="" />
  )}
  {title && (
    <div class="title">{title}</div>
  )}
</div>

<style>
  .item {
    padding: 0;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    text-align: left;
  }

  .title {
    width: 100%;
    padding: 8px 0;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: left;
  }
</style>
