---
---

<div class="introduction">
  <h2>soratabi: あなたの旅のパートナー</h2>
  <p>「soratabi」では、旅の楽しさを最大限に引き出すための情報とインスピレーションをお届けしています。私たちの Web サイトでは、世界中の魅力的な旅行先、役立つ旅行ガイド、そして個性的な体験が見つかります。旅行の計画がスムーズに進むように、詳細なリサーチや実際の体験に基づいた情報を提供し、あなたの次の冒険をサポートします。</p>
</div>

<style>
.introduction {
  padding: 2rem;
  margin: 0 auto;
  max-width: 960px;
}

.introduction h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.introduction p {
  font-size: 1rem;
}
</style>
