/**
 * normalize.css の minimum 版として作成
 */

.article {
  text-align: left;
  color: #fff;

  p {
    padding-right: 16px;
    color: #fff;
  }

  .post-detail {
    h2 {
      padding: 1rem 1.25rem;
      margin: 1.25rem 0;
      color: #fff;
      border-left: solid 5px #42b883;
    }

    h3 {
      padding: 1rem 1.25rem;
      margin: 1.25rem 0;
      color: #fff;
      border-left: solid 5px #35495e;
    }

    h4 {
      padding: 1rem 1.25rem;
      margin: 1.25rem 0;
      color: #fff;
      border-left: solid 5px #ccc;
    }

    p {
      margin: 1rem 0;
    }

    img {
      margin: 0 1.25rem;
      @media (max-width: 767px) {
        width: 100%;
        margin: 0;
      }
    }

    iframe {
      margin: 0 1.25rem;
      @media (max-width: 767px) {
        width: 100%;
        margin: 0;
      }
    }
  }
}
